<div class="container main-container">
      <div class="row page-header">

        <div class="header-img">  <img  src="assets/shared/accHeader.png" class="img-responsive" alt="Taxation"></div>
        <div class="col-md-3 col-sm-3 col-xs-3"><h1>Accountancy</h1></div>

      </div>
  <div class="row section1 li-xtra-pad">
    <div class="col-md-12">
      <p>
        <span class="head1">Bookkeeping - The recording of day-to-day financial transactions.</span>
      </p>
      <p>
        Bookkeeping services are critical to every business whether you are a sole trader, a partnership, a limited company or a charitable organisation.
        It performs a vital day to day account of what is bought, sold, owed, and owned; money comes in, money out and most important what’s left.</p>
        <p>
          Even though this is just a basic job, bookkeeping can be very time consuming whether your business is starting up or in the swing of things,
          Ma’Leon Accountancy Services Limited are here to perform and manage this function.
        </p>

          <p class="ul-header"><i>A few facts</i></p>
          <span class="facts-li">
            <ul>
              <li>
                  By providing or supporting the bookkeeping responsibilities, this forms and expands into a much bigger picture (in accounting) as it
                  leads into the production of the annual <a pageScroll [pageScrollAdjustHash]="true" [pageScrollOffset]="50" href="#financial-accounts">Financial Accounts</a> and the more regular monthly or quarterly reports <a pageScroll [pageScrollAdjustHash]="true" [pageScrollOffset]="50" href="#management-accounts">Management Accounts</a>
              </li>
              <li>
                  This will enable you to have an even better understanding of your financial
                  performance and position and also ensure that your tax liability is as low and accurate as possible.
              </li>
            </ul>
          </span>


        <button type="button" pageScroll [pageScrollAdjustHash]="true" [pageScrollOffset]="50" [routerLink]="['/']" href='#contact' class="btn btn-lg margin20Left" name="button">Contact us</button>

    </div>
  </div>
  <div class="row section2" id="financial-accounts">
    <div class="col-md-12">
      <p>
        <span class="head1">Financial Accounting and Accounts Preparation – Focusing on the overall financial position and stability of your business to external users.</span>
      </p>
      <p>
        Accounts preparation can be time consuming as the disclosure requirements (additional information that needs to be attached) to the accounts are continuously being updated and can be stressful especially if you have not got access to suitable equipment/software to fulfil this function.
        The disclosure requirements for a trading entity are always being updated for the UK and International standards also for charities under the Statement of Recommended Practice (SORP) most recently updated in 2015.
      </p>
      <p>
        Instructing Ma’Leon Accountancy Services Limited to take care of your reporting requirements will relieve
        the stress of producing your accounts and allow you get on with business. This enables any external bodies such as tax authorities,
        stakeholders (people you owe money to for example) or other regulatory bodies to have an overview of your financial position.

      </p>
      <p>
        Ma’Leon Accountancy Services Limited can compile for example:
      </p>
      <ul>
        <li>An income statement which gives you your profit or loss</li>
        <li>A balance sheet where this gives you a snap shot of what is owned and what is owed (assets and liabilities)</li>
        <li>Possibly a cash flow statement - a list of cash transactions that has taken place during the year </li>
      </ul>

      <p>
        All of the above is necessary for you and your company to make controlled and planned decisions.
      </p>
      <p>
        Depending on the type of business you have, Ma’Leon Accountancy Services Limited will fulfil the statutory responsibilities and file the accounts with government regulated bodies such as Company House (if a private limited company), the Charity Commission (if a charity) and HMRC within a specific time frame.
      </p>
          <button type="button" [routerLink]="['/']" pageScroll [pageScrollAdjustHash]="true" [pageScrollOffset]="50" href='#contact' class="btn btn-lg margin20Left" name="button">Contact us</button>
    </div>
  </div>

  <div class="row section1" id="budgeting">
    <div class="col-md-12">
      <p>
        <span class="head1">Budgeting and Forecast - An estimation of planned income and planned expenses you expect over a period of time.</span>
    </p>
      <p>
        In a financial planning context the word ‘budget’ means an amount of money that is planned to be spent or received usually over a trading year, although budgets can also apply to shorter and longer periods and can be broken down into the individual income and expense items.

      </p>
      <p class="ul-header">
        <i>A few facts</i><br>
        A budget has many uses such as:</p>
        <span class="facts-li">
      <ul>
        <li>Support charitable funding requests from other organisations (by describing how the funds, if the request is successful, will be used)</li>
        <li>Control spending, to ensure that available funds are used according to plan and that spending stays within your limits</li>
        <li>Support loan requests</li>
      </ul>
    </span>
      <p>
        Working alongside you, Ma’Leon Accountancy Services Limited can help you keep track of exactly where your money comes from
        and goes to. You will be less likely to go over your budget set and in turn be more likely to meet your
        financial goals and commitments by staying within your specific limits.
      </p>
      <button type="button" pageScroll [pageScrollAdjustHash]="true" [pageScrollOffset]="50" [routerLink]="['/']" href='#contact' class="btn btn-lg margin20Left" name="button">Contact us</button>
    </div>
  </div>

  <div class="row section2" id="forecast">
    <div class="col-md-12">
      <p>
        <span class="head1">Forecast - Updated budgeted figures.</span>
      </p>
      <p>
        A forecast is simply where the original
        budget is updated or revised to reflect the changes caused by internal and/or external factors.
      </p>
      <p>
        Internal factors, for example could be additional staff required causing more expenses to be
        paid out, hence, increasing the budget.
        External factors, could be the price rise in oil which has a knock on effect for petrol costs.
      </p>
      <p>
        This procedure is used to acknowledge any activity in your business that was
        unforeseen when the budget was first set and which may now have an impact on your business.
      </p>
      <p>
        Ma’Leon Accountancy Services Limited are able to produce a forecast for you and this may
        be performed/reviewed monthly, quarterly or half yearly depending on how
        large or complex your business is.
      </p>
      <button type="button" pageScroll [pageScrollAdjustHash]="true" [pageScrollOffset]="50" [routerLink]="['/']" href='#contact' class="btn btn-lg margin20Left" name="button">Contact us</button>
    </div>
  </div>

  <div class="row section1" id="management-accounts">
      <div class="col-md-12">
          <p>
            <span class="head1">Management Accounting – Allows you to examine and observe trends within
            your business and make important business decisions based on the information.</span>
          </p>
          <p>
            You will be able to compare your budget and/or forecast figures that you set at
            the beginning of the year for income and expenditure against your
            actual results enabling you to see the difference between the both in a summarised form.

          </p>
          <p>
              This report can be produced monthly, quarterly or half yearly depending on your individual needs.
          </p>
          <p>
            Ma’Leon Accountancy Services Limited can compile a brief commentary and graphical charts for inclusion in
            the report to assist in the deciphering and detail of your actual results.
            This will enable you to have a better
            understanding of your accounts, how you have performed and make proficient business decisions.
          </p>
          <p>
            Also, at your request, Ma’Leon Accountancy Services Limited can also extend the management accounts report
            into a management accounts pack that contains
            more financial and non-financial information.
            These packs may vary but would mainly consist of an income statement
            (profit and loss account) and a balance sheet (assets and liabilities).
          </p>
          <p>
          <button type="button" pageScroll [pageScrollAdjustHash]="true" [pageScrollOffset]="50" [routerLink]="['/']" href='#contact' class="btn btn-lg" name="button">Contact us</button> for more information.
          </p>
      </div>
  </div>
  <div class="row section2">
    <div class="col-md-12">
      <p>
      <span class="head1">Payroll - The calculation of the net pay due to employees
      after taking into account all deductions and reimbursement of expenses.</span>
      </p>
      <p>
        Ultimately the primary function of a payroll is to ensure that accurate regular agreed payments are calculated
        for each employee and to correctly calculate any tax and national
        insurance deductions that may occur within the same given time frame.
      </p>
      <p>
        Payroll encompasses the payment of staff; whether they are part time or full time; whether weekly,
        fortnightly or monthly, we can take care of all your payroll needs and requirements.
      </p>
      <p class="ul-header"><i>A few facts</i></p>
<span class="facts-li">
      <ul>
        <li>
          Payroll needs to be reported to HMRC each time someone
          gets paid, Ma’Leon Accountancy Services Limited will ensure that this takes place including sending you:
          <span>
          <ul>
            <li>Payslips for each employee</li>
            <li>HMRC payment details so that it can be matched up to your bookkeeping records</li>
            <li>Any analysis reports that may be needed</li>
            <li>Any other relevant documentation i.e. P 60’s, P45’s and any other applicable P’s</li>
          </ul>
          </span>
        </li>
        <li>
          	Any payment due to HMRC is payable by 22nd of the end of the quarter
            if you’re a small employer, or 22nd of the following month if you’re a large employer
        </li>
      </ul>
    </span>
<br>
    <button type="button" pageScroll [pageScrollAdjustHash]="true" [pageScrollOffset]="50" [routerLink]="['/']" href='#contact' class="btn btn-lg margin20Left" name="button">Contact us</button>
    </div>
  </div>
  <div class="row section1 ">
      <div class="col-md-12">
          <p>
            <span class="head1">Independent Examination (for Charities only) –
            An alternative acceptable form of external scrutiny for smaller charities.</span>
          </p>
          <p>
            It is a legal requirement to prepare accounts together with a Trustees’
            annual report when you are a registered charity.
          </p>
          <p>
            There are different levels of requirements for different sizes of charities,
            however, all charities must file their accounts and reports within 10 months of the year-end date.
            </p>
            <p class="ul-header"><i>A few facts</i></p>
              <span class="facts-li">
              <ul>
                <li>
                  If income is below £10,000 then an annual update to the Charity Commission is required
                </li>
                <li>
                  Above £10,000 but less than £25,000 an external scrutiny will not need to
                  be completed however, the Trustees can opt to have this done
                </li>
                <li>
                  If your charity is more than £25,000 but not exceeding £1,000,000 there is then a duty to file
                  the annual accounts and Trustees report online and have the accounts independently examined
                </li>
                <li>
                  An audit will be needed if the income exceeds £1,000,000
                  and if both gross assets (before liabilities) exceed £3.26 million and gross income exceed £250,000
                </li>
              </ul>
            </span>
            <p>
            Ma’Leon Accountancy Services Limited will examine your accounting records in line with the process set out by
            the Charity Commission. We will write a report that provides details of the result of the examination that will need to be published alongside your accounts.
            </p>
              <p>
              In essence this type of scrutiny is to maintain public confidence that the charity is being
              directed and controlled efficiently and been reviewed by a qualified and efficient company.
              </p>
            <br>
        <button type="button" pageScroll [pageScrollAdjustHash]="true" [pageScrollOffset]="50" [routerLink]="['/']" href='#contact' class="btn btn-lg margin20Left" name="button">Contact us</button>
        </div>
      </div>




</div>
