<div class="container services-container">
      <div class="row page-header">

        <div class="header-img">  <img  src="assets/shared/accHeader.png" class="img-responsive" alt="Taxation"></div>
        <div class="col-md-3 col-sm-3 col-xs-3"><h1>Accountancy</h1></div>

      </div>
  <div class="row section1">
    <div class="col-md-12">
      <p>
        <span class="head1">Bookkeeping</span> The recording of day-to-day financial transactions.
      </p>
      <p>
        <em>Bookkeeping services are critical to every business</em> whether you are a sole trader, a partnership, a limited company or a charitable organisation. </p>
      <p>
        It performs a vital day to day account of what is bought, sold, owed, and owned; money comes in, money out and most important what’s left.
        Even though this is just a basic job, bookkeeping can be very time consuming whether your business is starting up or in the swing of things, <em>Ma’Leon and Co are here to perform and manage this function.</em></p>
        <p>
        By providing or supporting the bookkeeping responsibilities, this forms and expands into a much bigger picture (in accounting) as it leads into the production of the annual Financial Accounts and the more regular monthly or quarterly reports (Management Accounts). This will enable you to have an even better understanding of your financial performance and position and also ensure that your <em>tax liability is as low</em> and accurate as possible.</p>
        <button type="button" pageScroll [pageScrollDuration]="1500" [pageScrollAdjustHash]='true'   [routerLink]="['/']" href='#contact' class="btn btn-lg margin20Left" name="button">Contact us</button>

    </div>
  </div>
  <div class="row section2">
    <div class="col-md-12">
      <p>
        <span class="head1">Financial Accounting and Accounts Preparation</span> – Focusing on the overall financial position and stability of your business to external users.
      </p>
      <p>
        Accounts preparation can be time consuming as the disclosure requirements (additional information that needs to be attached) to the accounts are continuously being updated and can be stressful especially if you have not got access to suitable equipment/software to fulfil this function.
        <em>The disclosure requirements for a trading entity are always being updated</em> for the UK and International standards also for charities under the Statement of Recommended Practice (SORP) most recently updated in 2015.
      </p>
      <p>
        Instructing Ma’Leon and Co to take care of your reporting requirements will <em>relieve the stress of producing your accounts</em> and allow you get on with business. This enables any external bodies such as tax authorities, stakeholders (people you owe money to for example) or other regulatory bodies to have an overview of your financial position.
        Ma’Leon and Co can compile for example:
      </p>
      <ul>
        <li>An income statement which gives you your profit or loss</li>
        <li>An income statement which gives you your profit or loss</li>
        <li>Possibly a cash flow statement - a list of cash transactions that has taken place during the year </li>
      </ul>

      <p>
        All of the above is necessary for you and your company to make controlled and planned decisions.
        Depending on the type of business you have, <em>Ma’Leon and Co will fulfil the statutory responsibilities</em> and file the accounts with government regulated bodies such as Company House (if a private limited company), the Charity Commission (if a charity) and HMRC within a specific time frame.
      </p>
          <button type="button" pageScroll [pageScrollDuration]="1500" [pageScrollAdjustHash]='true'   [routerLink]="['/']" href='#contact' class="btn btn-lg margin20Left" name="button">Contact us</button>
    </div>
  </div>

  <div class="row section1">
    <div class="col-md-12">
      <p>
        <span class="head1">Budget</span> - An estimation of planned income and planned expenses you expect over a period of time.
    </p>
      <p>
        In a financial planning context the word ‘budget’ means an amount of money that is planned to be spent or received usually over a trading year, although budgets can also apply to shorter and longer periods and can be broken down into the individual income and expense items.
        A budget has many uses such as:
      </p>
      <ul>
        <li>Support charitable funding requests from other organisations (by describing how the funds, if the request is successful, will be used).</li>
        <li>Control spending, to ensure that available funds are used according to plan and that spending stays within your limits.</li>
        <li>Support loan requests.</li>
      </ul>
      <p>
        Working alongside you, Ma’Leon and Co can help you keep track of exactly where your money comes from
        and goes to. You will be less likely to go over your budget set and in turn be more likely to meet your
        financial goals and commitments by staying within your specific limits.
      </p>
      <button type="button" pageScroll [pageScrollDuration]="1500" [pageScrollAdjustHash]='true'   [routerLink]="['/']" href='#contact' class="btn btn-lg margin20Left" name="button">Contact us</button>
    </div>
  </div>

  <div class="row section2">
    <div class="col-md-12">
      <p>
        <span class="head1">Forecast</span> - Updated budgeted figures.
      </p>
      <p>
        A forecast is simply where the original
        budget is updated or revised to reflect the changes caused by internal and/or external factors.
      </p>
      <p>
        Internal factors, for example could be additional staff required causing more expenses to be
        paid out, hence, increasing the budget.
        External factors, could be the price rise in oil which has a knock on effect for petrol costs.
      </p>
      <p>
        This procedure is used to acknowledge any activity in your business that was
        unforeseen when the budget was first set and which may now have an impact on your business.
      </p>
      <p>
        Ma’Leon and Co are able to produce a forecast for you and this may
        be performed/reviewed monthly, quarterly or half yearly depending on how
        large or complex your business is.
      </p>
      <button type="button" pageScroll [pageScrollDuration]="1500" [pageScrollAdjustHash]='true' [routerLink]="['/']" href='#contact' class="btn btn-lg margin20Left" name="button">Contact us</button>
    </div>
  </div>

  <div class="row section1">
      <div class="col-md-12">
          <p>
            <span class="head1">Management Accounting </span> – Allows you to examine and observe trends within
            your business and make important business decisions based on the information.
          </p>
          <p>
            You will be able to compare your budget and/or forecast figures that you set at
            the beginning of the year for income and expenditure against your
            actual results enabling you to see the difference between the both in a summarised form.
            This report can be produced monthly, quarterly or half yearly depending on your individual needs.
          </p>
          <p>
            Ma’Leon and Co can compile a brief commentary and graphical charts for inclusion in
            the report to assist in the deciphering and detail of your actual results.
            <em>This will enable you to have a better
            understanding of your accounts,</em> how you have performed and make proficient business decisions.
          </p>
          <p>
            Also, at your request, <em>Ma’Leon and Co can also extend the management accounts report
            into a management accounts pack</em> that contains
            more financial and non-financial information.
            These packs may vary but would mainly consist of an income statement
            (profit and loss account) and a balance sheet (assets and liabilities).
          </p>
          <p>
          <button type="button" pageScroll [pageScrollDuration]="1500" [pageScrollAdjustHash]='true'   [routerLink]="['/']" href='#contact' class="btn btn-lg" name="button">Contact us</button> for more information.
          </p>
      </div>
  </div>
  <div class="row section2">
    <div class="col-md-12">
      <p>
      <span class="head1">Payroll</span> - The calculation of the net pay due to employees
      after taking into account all deductions and reimbursement of expenses.
      </p>
      <p>
        Ultimately the primary function of a payroll is to ensure that accurate regular agreed payments are calculated
        for each employee and to <em>correctly calculate any tax and national
        insurance deductions</em> that may occur within the same given time frame.
      </p>
      <p>
        <em>Payroll encompasses the payment of staff;</em> whether they are part time or full time; whether weekly,
        fortnightly or monthly, we can take care of all your payroll needs and requirements.
      </p>
      <p>
        As payroll needs to be <em>reported to HMRC each time someone
        gets paid,</em> Ma’Leon and Co will ensure that this takes place including sending you:
      </p>
      <ul>
        <li>Payslips for each employee</li>
        <li>HMRC payment details so that it can be matched up to your bookkeeping records</li>
        <li>Any analysis reports that may be needed</li>
        <li>Any other relevant documentation i.e. P 60’s, P45’s and any other applicable P’s</li>
      </ul>
      <p>
        Any issues or queries which your employee’s may have regarding
        their pay will quickly be dealt with as <em>we will liaise with you every step of the way.</em>
      </p>
    <button type="button" pageScroll [pageScrollDuration]="1500" [pageScrollAdjustHash]='true'   [routerLink]="['/']" href='#contact' class="btn btn-lg margin20Left" name="button">Contact us</button>
    </div>
  </div>
  <div class="row section1">
      <div class="col-md-12">
          <p>
            <span class="head1">Independent Examination (for Charities only)</span> –
            An alternative acceptable form of external scrutiny for smaller charities.
          </p>
          <p>
            It is a legal requirement to prepare accounts together with a Trustees’
            annual report when you are a registered charity.
          </p>
          <p>
            <em>There are different levels of requirements for different sizes of charities,</em>
            however, all charities must file their accounts and reports within 10 months of the year-end date.
            If income is below £10,000 then the requirement is an annual update to the Charity Commission.
            Above £10,000 but less than £25,000 an external scrutiny will not need to be completed however,
            the Trustees can opt to have this done.  If your charity is more than £25,000 but not exceeding £1,000,000
            there is then a duty to file the annual accounts and Trustees report online and have the accounts independently examined.
          </p>
          <p>
            <em>When do you need an audit?</em> If the income exceeds £1,000,000 and if both gross assets
            (before liabilities) exceed £3.26 million and gross income exceed £250,000.
          </p>
          <p>
            Ma’Leon and Com will examine your accounting records in line with the process set out
            by the Charity Commission. <em>We will write a report that provides details</em> of the result
            of the examination that will need to be published alongside your accounts.
          </p>
          <p>
            In essence this type of scrutiny is to maintain public confidence that
            the charity is being directed and controlled efficiently and been reviewed
            by a qualified and efficient company.
          </p>
        <button type="button" pageScroll [pageScrollDuration]="1500" [pageScrollAdjustHash]='true'   [routerLink]="['/']" href='#contact' class="btn btn-lg margin20Left" name="button">Contact us</button>
        </div>
      </div>




</div>
