<div class="container services-container">
      <div class="row page-header">

        <div class="header-img">  <img  src="assets/shared/taxHeader.png" class="img-responsive" alt="Taxation"></div>
        <div class="col-md-3 col-sm-3 col-xs-3"><h1>Taxation</h1></div>

      </div>
  <div class="row section1">
    <div class="col-md-12"><p><span class="head1">VAT – Value Added Tax is a tax levied on goods or services</span></p>
      <p>
        We at Ma’Leon Accountancy Services Limited  can assist you in setting up a VAT scheme that will suit your business. You can either register voluntarily or register once the threshold is reached (see below).
      </p>
      <p>
        We can help you by calculating the VAT that needs to be paid or the amount to be refunded by HMRC from the goods or services that you buy and sell.
      </p>

      <p class="ul-header"><i>A few facts</i></p>
      <span class="facts-li">
        <ul>
          <li>
            The threshold for VAT is £85,000 from April 2017 and you need to register for VAT if this threshold is reached.

          </li>
          <li>
           The deregistration limit is £83,000.
          </li>
        </ul>
      </span>
        <p>
          There are a few schemes available such as cash accounting and flat scheme rate (that has now changed from 1st April 2017)
          and if you would like further information contact us at Ma’Leon Accountancy Services Limited.
        </p>
    </div>
  </div>


  <div class="row section2">
    <div class="col-md-12">
      <p><span class="head1">Personal Income Tax – Preparation of an individual’s tax liability.</span>
    </p>
      <p>
    The tax year runs from 6th April to 5th April (e.g. 6th April 2016 to 5th April 2017).
    The ultimate deadline for filing and paying tax returns
    is Midnight 31st January the following year after that tax year (e.g. 31st January 2018).</p>
          <p class="ul-header"><i>A few facts</i></p>
          <span class="facts-li">
            <ul>
              <li>
              You are required to be file a tax return with HMRC if in the last tax year:
              <ul>
                <li>
                    you were self-employed - you can deduct allowable expenses
                </li>
                <li>
                  you made profits from selling things like shares,
                  a second home or other assets and need to pay <a  pageScroll [attr.pageScrollAdjustHash]="true" [attr.pageScrollOffset]="50" href="#capital-gains-tax">Capital Gains Tax</a>
                </li>
                <li>
                you were a company director - unless it was for a
                non-profit organisation (eg a charity) and you didn’t get any pay or benefits, like a company car
                </li>
                <li>
                    you had income from abroad that you needed to pay tax on
                </li>
              </ul>
              </li>
              <li>
              If a tax return is just one day late, HMRC will impose an immediate penalty of £100
              </li>
              <li>
                  The later the tax return, the more penalties (and interest).
                  For current penalties see <a href="https://www.gov.uk/self-assessment-tax-returns/penalties" target="_blank">Gov.uk.</a>
              </li>
            </ul>
          </span>


      <p>Whether due to lack of time or simply finding it too complicated (and dealing with HMRC can be very frustrating),
        Ma’Leon Accountancy Services Limited can help you complete your personal income tax while you concentrate on your profession by:</p>
      <ul>
        <li>Dealing with all your tax affairs no matter how complicated and liaise with HMRC</li>
        <li>Complete and calculate your tax return with all necessary calculations</li>
        <li>Send you a full copy and explanatory notes for you to authorise before submitting online</li>
        <li>File your tax return by submitting to HMRC</li>
        <li>Be available for all your tax queries and questions</li>
      </ul>
      <br>
      <button type="button" class="btn btn-lg margin20Left" pageScroll [attr.pageScrollAdjustHash]="true" [attr.pageScrollOffset]="50" [routerLink]="['/']" href='#contact' name="button">Contact us</button>
    </div>
  </div>

  <div class="row section1">
    <div class="col-md-12"><p><span class="head1">Business Income Tax - Preparation of an unincorporated business tax liability.</span></p>
      <p>
        Ma’Leon Accountancy Services Limited  wants you to flourish and concentrate on your business,
        so we will perform the calculations of the trading profits (or losses) of your business
        and complete your business income tax on your behalf by:</p>
      <ul>
        <li>Dealing with all your tax affairs no matter how complicated and liaise with HMRC</li>
        <li>Complete and calculate your tax return with all necessary calculations</li>
        <li>Send you a full copy and explanatory notes for you to authorise before submitting online</li>
        <li>File your tax return by submitting to HMRC</li>
        <li>Be available for all your tax queries and questions</li>
      </ul>
      <br>
      <button type="button" class="btn btn-lg margin20Left" pageScroll [attr.pageScrollAdjustHash]="true" [attr.pageScrollOffset]="50" [routerLink]="['/']" href='#contact' name="button">Contact us</button>
    </div>
  </div>

  <div class="row section2">
    <div class="col-md-12">
      <p><span class="head1">Corporation Tax - Preparation of an incorporated business tax liability.</span>
        All companies now pay the tax of 20% irrespective of the level of profits. Previously larger companies were paying a
        higher tax rate. This rate will drop each year until 1st April 2020 where it will be at 17% - according to the last government budget.
      </p>

      <p class="ul-header"><i>A few facts</i></p>
      <span class="facts-li">
        <ul>
          <li>
            Your corporation tax must be paid
            within 9 months and 1 day of the end of year accounts for smaller companies.
            For larger companies with profits
            over £1.5 million, corporation tax must be paid in quarterly instalments
          </li>
          <li>
          And of course there are penalties for filing late,
          <a href="https://www.gov.uk/company-tax-returns/penalties-for-late-filing" target="_blank">see here.</a>
          </li>
        </ul>
      </span>

      <p>
      Ma’Leon Accountancy Services Limited will work out your tax liability, tell you
      when to pay your tax without getting a penalty and file your business accounts with both
      Companies House and HMRC within the specified deadlines.
      <p>
         Corporation tax can be complex especially with contractors and the IR35 regime and the incoming government initiative ‘Making Tax Digital’. Ma’Leon Accountancy
         Services Limited will be able to give you advice on this and other matters by simply  <button type="button" pageScroll [attr.pageScrollAdjustHash]="true" [attr.pageScrollOffset]="50" [routerLink]="['/']" href='#contact' class="btn btn-lg" name="button">Contact us</button> if you require additional information.
      </p>
    </div>
  </div>

  <div id="capital-gains-tax" class="row section1">
      <div class="col-md-12">
          <p><span class="head1">Capital Gains Tax – Is a tax on the profit of the item when you sell or dispose of an asset</span></p>
          <p>You are taxed on the gain you make and not the amount of money you receive for the item.</p>

        <p>Disposing of an asset is when you:</p>
          <ul>
            <li>Sell it</li>
            <li>Give it away as a gift</li>
            <li>Transfer it to someone else</li>
          </ul>
          <p class="ul-header"><i>A few facts</i></p>
          <span class="facts-li">
            <ul>
              <li>
                Even on buy-to-let properties and land, capital gains tax has to be paid if you make a profit
              </li>
              <li>
                You get a tax free allowance (annual exemption) just like your personal income tax –
              <a href="https://www.gov.uk/capital-gains-tax/allowances" target="_blank">see here.</a>
              </li>
            </ul>
          </span>
          <p>
        The tax regime can be quite complex and individuals may find this difficult and cumbersome,
        <button type="button" class="btn btn-lg" pageScroll [attr.pageScrollAdjustHash]="true" [attr.pageScrollOffset]="50" [routerLink]="['/']" href='#contact' name="button">Contact us</button>
        so that Ma’Leon Accountancy Services Limited can help you.
        </p>
      </div>
  </div>

  <div id="inheritance-tax" class="row section2 last-section">
      <div class="col-md-12">
          <p><span class="head1">Inheritance Tax – is a tax on the estate of someone who has died</span></p>
          <p>Inheritance Tax (IHT) is not payable on the first £325,000 (nil rate band) of an estate; the
            IHT rate of 40% is charged on the remaining estate above the threshold.</p>

          <p class="ul-header"><i>A few facts</i></p>
          <span class="facts-li">
            <ul>
              <li>
                There is no IHT to pay on small gifts out of your normal income
              </li>
              <li>
                No IHT to pay between spouses or civil partners
              </li>
              <li>
                IHT will be charged on gifts that are more than the nil rate band in the 7 years before death
              </li>
            </ul>
          </span>
          <p>
      There are some reliefs and exemptions that can reduce the IHT liability for both personal and business assets
    <button type="button" class="btn btn-lg" pageScroll [attr.pageScrollAdjustHash]="true" [attr.pageScrollOffset]="50" [routerLink]="['/']" href='#contact' name="button">Contact us</button> for more information.
        </p>
      </div>
  </div>


</div>
