$header-bg-image: url(/assets/shared/bgImage.png);

  #navbar-ul-services, #navbar-ul {
      text-align: left;
      width: 30%;
      background-color: #6CA6C1;
      border: 1px solid #000;
      float: right;
      transform: rotate(-180deg);
      display: none;
      top: 75px;
      position: absolute;
      right: 13px;

      & li{
        // float: left;
        transform: rotate(-180deg);
        width:100%;
        margin-left: 0;
      }
    
    @include medium {
      top: 15px;
      position: absolute;
      right: 20px;
      width: 60%;
      background-color: transparent;
      border: none;
      display: block;
      margin-right: -10px;
      color: #fff;
      transform: rotate(180deg);

      & li {
        float: left;
        width: auto;
        margin-left: 0;
        transform: rotate(-180deg);
      }
    & li p {
      margin: 0;
    }
    }

  }
.nav-link{
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  outline: none;
  padding: 5px 15px;

  // @include large {
  //     padding: 10px 15px
  // }
}
  #navbar-ul {
    opacity: 1;
  }

.nav-toggle {
  display: block;
  position: relative;
  float: right;
  padding: 9px 10px;
  margin-top: 8px;
  margin-right: 15px;
  margin-bottom: 8px;
  // background-color: transparent;
  background-image: none;
  // border: 1px solid transparent;
  border-radius: 4px;
  @include medium {
    display: none;
  }
}
  .nav-bar {
    background-color: #6CA6C1!important
  }

  .is-active {
      color: #ccc!important;
  }
  
  .nav-toggle, .nav-toggle:link, .nav-toggle:visited, .nav-toggle:hover, .nav-toggle:active {
    /*margin-right: 40px;*/
    border: none;
    background-color: #6CA6C1!important;
  }
  .nav-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background-color: #888;
  }

  .nav-toggle .icon-bar+.icon-bar {
    margin-top: 4px;
  }
  .navbar,.navbar-inverse, .navbar-collapse {
    background-color: inherit;
    border: none;
  }

  .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
        border: none!important;
        box-shadow: none;
  }

  .navbar-header {
    background-color: rgb(8, 2, 83);
    border: none;
    width: 100%;
    height: 75px;
    margin: 0!important;
  }

  .navbar-header img {
    margin-left:20px;
   }

  .navbar-brand {
    /*margin:10px 0 0 50px;*/
    height: 55px;
    display: block;
    width: 344px;
    padding: 10px 0 0 10px;
  }

  .fixed-top {
    position: fixed; /* <-- Look here */
    right: 0;
    left: 0;
    z-index: 1030;
     /*background-color: transparent;      margin-top: 25px;*/
     border: 0;
  }

  
  /* Header/fisrt page */
  .row {
    margin: 0
  }
  .headerTxt img {
     width: 90%;
     height: auto;
     margin: 0 auto;
  }
  .headerTxt {
    width:100%;
     position: absolute;
     left: 0;
     bottom: 5%;
  }