<div class="container main-container">
    <div class="row page-header">

        <div class="col-md-3 col-sm-3 col-xs-3">
            <h1>About Us</h1>
        </div>
    </div>
    <div class="row section1">
        <div class="col-md-12">
            <p>
              <span class="head1">Ma’Leon Accountancy Services Limited has a strong financial background<br>stemming back to 1987.
              </span>
            </p>
            <p>
              Now based in East London,
              we are licensed and regulated by the Association of Accounting Technicians (AAT) with the Principal Accountant achieving Fellow membership.
            </p>
            <p>
              Our mission is simple, we ensure we keep our clients vision in mind. Our efforts, decisions and service provision are grounded on
              simplifying your accountancy challenges so that you can focus on carrying out the core activities of your business.
            </p>
            <p>
              With a strong background in working with the not for profit, charities and social enterprise organisations, our ethos is to facilitate their
              vision of helping communities by generating and increasing benefits to those communities in need with the work they do.     
            </p>
            <p>
              As our client base continues to grow we recognise that no two businesses are the same due to diverse complexities and structures.
              We engage with you closely from the start to build a long lasting relationship so you’ll be able to accomplish your goals to succeed.   
            </p>
            <p>
              Let Ma’Leon Accountancy Services Limited take away the pain and worry off your hands while you run your business - accounting made simple!
            </p>
        </div>
    </div>
</div>