<div class="container services-container">
      <div class="row page-header">


        <div class="col-md-3 col-sm-3 col-xs-3"><h1>About Us</h1></div>
      </div>
  <div class="row section1">
    <div class="col-md-12">
      <p>
      <span class="head1">Our aim at Ma’Leon and Co is to offer an authentic and conscientious service and we pride ourselves on: The use of accounting related systems.</span>

    </p>
    <ul>
      <li>A high level of customer service</li>
      <li>Openness, transparency, honesty and objectivity</li>
      <li>Acting with integrity</li>
      <li>Having total confidentiality</li>
    </ul>
    <p>
     We will take the difficulty from your hands so you can concentrate solely on your
     business commitments, giving you the best opportunity to succeed.
    </p>
    <p>
    Our service is simple for you to understand without any unnecessary jargon and no hidden charges.
    What’s more there will be no surprises as we will ensure you are kept informed and updated.
    </p>
    <p>
      At Ma’Leon and Co one of our main intentions is to build up a long a lasting relationship with our clients.
      This will enable to understand our clients’ business,
      moving together towards a path of mutual success and collectively accomplishing our goals and targets.
    </p>

    </div>
  </div>
  <div class="row section2">
    <div class="col-md-12">
      <p>
      <span class="head1">ACCOUNTING MADE SIMPLE </span> in three easy steps:
    </p>
    <ul>
      <li>Complete the <button type="button" pageScroll [pageScrollDuration]="1500" [pageScrollAdjustHash]='true' [routerLink]="['/']" href='#contact' class="btn btn-lg" name="button">Contact us</button> field outlining a brief description of services required and your contact details</li>
      <li>We’ll contact you to complete a short questionnaire and arrange an appointment at a time that is convenient</li>
      <li>Attend a non-obligation consultation!</li>
    </ul>
    <p>
    We are a firm based in East London and have been working in the financial sector since 1987,
    and are licensed and regulated by the Association of Accounting Technicians (AAT) licence number 9797.
    </p>

      <p>
      We are also registered with the <a href="https://ico.org.uk/">Information Commissioners Office (ICO)</a>
      , so you can be rest assured that your
      data/information is safe with us and it will not be distributed to a third party unless permission is given.
      </p>
      <p>
      Our client base ranges from sole traders through to small businesses and
      charities and feel it necessary to understand individual business needs and
      in doing so we can tailor our services appropriately.
      </p>
      <p>
      Let us take the headache out of
      your hands while you run your business and be your accounting solution - <a pageScroll [pageScrollDuration]="1500" [pageScrollAdjustHash]='true' [routerLink]="['/']" href='#contact'>we are only a phone call/email</a> we are only a phone call/email away
      </p>
      <p>
        You've followed your hunch; you’re with the best of the bunch so now let us do your number crunch
      </p>
    </div>
  </div>
</div>
