<!-- Footer -->
    <footer class="footer">
      <div class="container-fluid">

        <div class="row">
          <div class="col-md-2 col-xs-4">
            <div class="aat">
              <div class="row">
              <div>
                  <img class="img-responsive att-img" src="assets/shared/AATlogo.png"  alt="AAT Association of Accounting Technicians">
              </div>
              <div>
                <p class="aat-text">Licensed and regulated by AAT under licence number 9797</p>
              </div>
              </div>
            </div>
        </div>
          <div class="col-md-2 col-xs-2">
              <img src="assets/shared/quickbooks_logo.png"  alt="quickbooks_logo">
          </div>
          <div class="col-md-8 col-xs-6">
                <address>
                  Ma'Leon Accountancy Services Limited is registered in England and Wales<br />
                  Company number: 11313582, Registered office: 85 Great Portland Street, London W1W 7LT
                </address>
                <p class="copyright"> &copy; {{date | date:'yyyy'}} Ma'Leon Accountancy Services Limited</p>
          </div>
        </div>



      </div>
    </footer>
