<!-- Footer -->
    <footer class="footer">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-2 col-sm-6 col-xs-6">
            <div class="aat">
              <div class="col-xs-12 noPadding">
                  <img class="att-img" src="assets/shared/AATlogo.png"  alt="AAT Association of Accounting Technicians">
              </div>
              <div class="col-xs-12">
                <p class="aat-text">Licensed and regulated by AAT under licence number 9797</p>
              </div>
            </div>
        </div>

          <div class="col-md-2 col-sm-6 col-xs-6 quickbooks">
              <img src="assets/shared/quickbooks_logo.png"  alt="quickbooks_logo">
              <!-- Visible small screens  -->
            <!-- <p class="visible-sm"> &copy; {{date | date:'yyyy'}} Ma-Leon &amp; Co</p> -->
          </div>

          <div class="col-md-8 col-sm-12 col-xs-12">
                <address>
                  Ma'Leon Accountancy Services Limited is registered in England and Wales<br />
                  Company number: 11313582, Registered office: 85 Great Portland Street, London W1W 7LT
                </address>
                <p class="copyright"> &copy; {{date | date:'yyyy'}} Ma'Leon Accountancy Services Limited</p>
          </div>


          <!-- Only visible wide screens/desktop-->
          <!-- <div class="col-md-4 col-sm-4 copyright visible-md visible-lg visible-xl">
            <p class="visible-md visible-lg visible-xl"> &copy; {{date | date:'yyyy'}} Ma-Leon &amp; Co</p>
          </div> -->
        </div>



      </div>
    </footer>
