<div class="container services-container">
      <div class="row page-header">

        <div class="header-img">  <img  src="assets/shared/conHeader.png" class="img-responsive" alt="Consultancy"></div>
        <div class="col-md-3 col-sm-3 col-xs-3"><h1>Consultancy</h1></div>

      </div>
  <div class="row section1">
    <div class="col-md-12">
      <p>
      <span class="head1">Computerised Accountancy Systems</span> - The use of accounting related systems.
      <em>Using a manual system for doing your accounts is cumbersome and prone to errors.</em>
      Ma’Leon and Co is accredited and proficient in using several accounting
      software systems suitable for both individuals and small businesses.
    </p>
    <p>
      We can also, work with you in setting up and train you in your own
      online electronic bookkeeping system that will compliment your business.
      Ma’Leon will ensure that the training given is at an appropriate level so that
      you are more than comfortable
      in using the software and we will be on hand to support you with any enquiries.
    </p>
    <p>
      For a small monthly fee,
      with no hefty yearly costs for upgrades, you can have your accounts at your fingertips.
    </p>
    <button type="button" pageScroll [pageScrollDuration]="1500" [pageScrollAdjustHash]='true' [routerLink]="['/']" href='#contact' class="btn btn-lg margin20Left" name="button">Contact us</button>
    </div>
  </div>
  <div class="row section2">
    <div class="col-md-12"><p>
      <span class="head1">Company Secretarial</span> – Services relating to legal services of an incorporated company.
    </p>
    <p>
      Every incorporated company needs to ensure that they comply with its obligations under company law.
      Ma’Leon and Co can assist you in the following so that you focus on your business:
    </p>
      <ul>
        <li>Forming companies</li>
        <li>Update your annual return (now called ‘Confirmation Statement’)</li>
        <li>File your annual accounts in the specified time</li>
        <li>Keeping you up to date with any legal changes</li>
      </ul>
      <p>
        There are penalties for filing your accounts late to Companies House and these can be <a href="https://www.gov.uk/annual-accounts/penalties-for-late-filing" target="_blank">found here.</a>
      </p>
      <p>
        <strong>Important:</strong><em> Annual Accounts are not to be confused with Annual Returns.
        An Annual Return (now called ‘Confirmation Statement’ from 30th June 2016)
        is a snapshot of information that Companies House holds about a company
        (not financial information). Both, however, are legally required to be filed to
        Companies House on an annual basis. If you are unsure which is due please
        <button type="button" pageScroll [pageScrollDuration]="1500" [pageScrollAdjustHash]='true'   [routerLink]="['/']" href='#contact' class="btn btn-lg" name="button">Contact us</button>
        and we will be more than willing to check for you.</em>

      </p>
    </div>
  </div>
</div>
