
#navbar-ul-services{
    width:65%;
      opacity: 0;
    }
    #navbar-ul-services li{
      float: right;
    }
  #navbar-ul{
    opacity: 1;
  
    }
    .nav-bar{
      background-color: #6CA6C1!important
    }
  
    .navbar-default .navbar-nav>li>a, .navbar-default .navbar-nav>li>a:link, .navbar-default .navbar-nav>li>a:visited, .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:active{
        color: #fff;
    }
  
  .is-active{
      color: #ccc!important;
  }
  
  .navbar-toggle, .navbar-toggle:link, .navbar-toggle:visited, .navbar-toggle:hover, .navbar-toggle:active{
    /*margin-right: 40px;*/
    border: none;
    background-color: #6CA6C1!important;
  }
  .navbar-header, .navbar,.navbar-inverse, .navbar-collapse{
    background-color: inherit;
    border: none;
  }
  .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
        border: none!important;
        box-shadow: none;
  }
  .navbar-header{
    width: 30%;
    height: 75px;
  }
  .navbar-header img{
    margin-left:20px;
  
   }
  .navbar-brand {
    /*margin:10px 0 0 50px;*/
    height: 55px;
    display: block;
    width: 344px;
    padding: 10px 0 0 10px;
  }
  .fixed-top {
    position: fixed; /* <-- Look here */
    right: 0;
    left: 0;
    z-index: 1030;
     /*background-color: transparent;      margin-top: 25px;*/
     border: 0;
  }
  nav ul{list-style: none; float: right!important; margin-right: 30px!important}
  nav ul li{ margin-left: 20px}
  nav ul li a:link, nav ul li a:hover, nav ul li a:active, .nav-link{text-decoration: none; font-size: 1.5rem}
  
  
  /* Header/fisrt page */
  #top {
    background: url(../assets/shared/bgImage.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: transparent;
  }
  .row{
    margin: 0
  }
  .headerTxt img{
     width: 90%;
     height: auto;
     margin: 0 auto;
  }
  .headerTxt{
    width:100%;
     position: absolute;
     left: 0;
     bottom: 5%;
  }