<div class="container main-container">
  <div class="row page-header">

      <div class="col-md-6 col-sm-6 col-xs-6">
          <h1>Privacy Policy</h1>
      </div>
  </div>
  <div class="row section1 li-xtra-pad">
      <div class="col-md-12">
          <p>
            <span class="head1">Information About Us Us</span>
          </p>
          <p>
            Ma’Leon Accountancy Services Limited
            Registered in England under company number: 1131358
            Registered address: 85 Great Portland Street, London W1W 7LT
            Data Protection Officer: Mauva Adams.
            Email address: data@ma-leon.co.uk
            Telephone number: 020 3371 1497
            Postal Address: As above
            We are licensed and regulated by AAT under licence number 9797
            Data Protection Registration ZA091763
          </p>

          <p>
            The term 'Ma’Leon Accountancy Services Limited' or 'us' or 'we' refers to the
            owner of the website. The term 'you' refers to the user or viewer of our
            website.
          </p>
          <p>
            The use of this website is subject to the following terms of use:
          </p>
      </div>
  </div>
  <div class="row section2">
      <div class="col-md-12">
          <p>
            <span class="head1">What Does This Notice Cover?</span>
          </p>
          <p>
            This Privacy Information explains:
          </p>
          <ul>
            <li>What is personal data</li>
            <li>What are my rights </li>
            <li>What personal data do you collect</li>
            <li>How do you use my personal data</li>
            <li>How long will you keep my personal data</li>
            <li>How and where do you store or transfer my personal data</li>
            <li>Do you share my personal data</li>
            <li>Can I withhold information</li>
            <li>How can I access my personal data</li>
            <li>How do I contact you</li>
            <li>Changes to this privacy notice</li>
        </ul>
      </div>
  </div>

  <div class="row section1">
      <div class="col-md-12">
          <p>
            <span class="head1">What is Personal Data?</span>
          </p>
          <p>
            Personal data is defined by the General Data Protection Regulation (EU Regulation 2016/679) (the “GDPR”) as 'any information relating to an identifiable person who can be directly or indirectly identified in particular by reference to an identifier'.
            Personal data is, in simpler terms, any information about you that enables you to be identified. Personal data covers obvious information such as your name and contact details, but it also covers less obvious information such as identification numbers and other online identifiers.
            The personal data that we use is set out in Part 5, below.            
          </p>
      </div>
  </div>

  <div class="row section2">
      <div class="col-md-12">
          <p>
            <span class="head1">What Are My Rights?</span>
          </p>
          <p>
            Under the GDPR, you have the following rights, which we will always work to uphold:
          </p>
          
          <ol class="list__numbered" type="a">
            <li>What is personal data</li>
            <li>The right to access the personal data we hold about you. Part 10 will tell you how to do this</li>
            <li>The right to have your personal data rectified if any of your personal data held by us is inaccurate or incomplete. Please contact us using the details in Part 11 to find out more</li>
            <li>The right to be forgotten, i.e. the right to ask us to delete or otherwise dispose of any of your personal data that we have. Please contact us using the details in Part 11 to find out more</li>
            <li>The right to restrict (i.e. prevent) the processing of your personal data</li>
            <li>The right to object to us using your personal data for a particular purpose or purposes</li>
            <li>Rights relating to automated decision-making and profiling. We do not use your personal data in this way. Part 6 explains more about how we use your personal data</li>
          </ol>
          <p>
            For more information about our use of your personal data or exercising your rights as outlined above, please contact us using the details provided in Part 11.
            Further information about your rights can also be obtained from the Information Commissioner’s Office or your local Citizens Advice Bureau.
            If you have any cause for complaint about our use of your personal data, you have the right to lodge a complaint with the Information Commissioner’s Office.            
          </p>
      </div>
  </div>
  <div class="row section1 ">
      <div class="col-md-12">
          <p>
            <span class="head1">What Personal Data Do You Collect?</span>
          </p>
          <p>
            We may collect some or all of the following personal data (this may vary according to your relationship with us):
          </p>
         
          <ul class="col-md-6">
            <li>Name</li>	
            <li>Date of birth</li>	
            <li>Gender</li>
            <li>Address</li>
            <li>Email address</li>
            <li>Telephone number</li>
          </ul>
          <ul class="col-md-6">
              <li>Business name</li>
              <li>Job title</li>
              <li>Profession</li>
              <li>National Insurance number</li>
              <li>Company registered number</li>
              <li>Unique tax reference number</li>
            </ul>
          
      </div>
  </div>
  <div class="row section2 ">
      <div class="col-md-12">
          <p>
            <span class="head1">How Long Will You Keep My Personal Data?</span>
          </p>
          <p>
            We will not keep your personal data for any longer than is necessary in light of the reason(s) for which it was first collected.<br> Your personal data will therefore be kept for the following periods (based on the time limits required by law) or, where there is no fixed period, general factors will be used to determine how long it is kept):
          </p>
          <ul>
            <li>Where you are a client – 6 years; this is based on the time limits enforced from the legal bodies</li>	
            <li>Where you enquired into obtaining Ma’Leon Accountancy Services Limited’s services and did not become a client – immediately</li>	
            <li>If you became and worked as a volunteer – 2 years</li>
            <li>Personalising and tailoring our services for you</li>
            <li>If you were unsuccessful as a volunteer – One year or held on file (with your permission) if waiting for an opening/opportunity to join</li>
          </ul>
      </div>
  </div>

  <div class="row section1 ">
      <div class="col-md-12">
          <p>
            <span class="head1">How and Where Do You Store or Transfer My Personal Data?</span>
          </p>
          <p>
            We will store or transfer your personal data in the UK. This means that it will be fully protected under the GDPR.
          </p>
          <p>
            However, we may store or transfer some or all of your personal data in countries that are not part of the European Economic
            Area (the “EEA” consists of all EU member states, plus Norway, Iceland, and Liechtenstein). These are known as “third countries” and may not have data protection laws that are as strong as those in the UK and/or the EEA.
            This means that we will take additional steps in order to ensure that your personal data is treated just as safely and securely as it would be within the UK and under the GDPR.
          </p>
          <p>
            Where we transfer your data to a third party based in the US, this may be protected if they are part of the EU-US Privacy Shield. This requires that third party to provide data protection
            to standards similar levels of data protection to those in Europe. More information is available from the
            <a href="https://ec.europa.eu/info/law/law-topic/data-protection/data-transfers-outside-eu/eu-us-privacy-shield_en" target="_blank">
              European Commission.
            </a>
          </p>
          <p>
            Please contact us using the details below in Part 11 for further information
            about the particular data protection mechanism used by us when transferring your personal data to a third country.
          </p>
          <p>
            The security of your personal data is essential to us and to protect your data,
            we also make sure that any third parties that we deal with keep all personal data they process
            on our behalf secure by ensuring that they too have a high level of protection.
          </p>
      </div>
  </div>

  <div class="row section2 ">
      <div class="col-md-12">
          <p>
            <span class="head1">Do You Share My Personal Data?</span>
          </p>
          <p>
            We will not share any of your personal data with any third parties for any other purpose that is stated above, subject to one important exception.
          </p>
          <p>
            In some limited circumstances, we may be legally required to share certain personal data, which might include yours,
            if we are involved in legal proceedings or complying with legal obligations, a court order, 
            or the instructions of a government authority.
          </p>
          <p>
            If any of your personal data is required by a third party, as described above in Part 6,
            we will take steps to ensure that your personal data is handled safely, securely,
            and in accordance with your rights, our obligations, and the third party’s obligations under the law, as described above in Part 8.
          </p>
          <p>
            If any personal data is transferred outside of the EEA, we will take suitable steps in order to ensure that your personal data is
            treated just as safely and securely as it would be within the UK and under the GDPR, as explained above in Part 8
          </p>
      </div>
  </div>

  <div class="row section1 ">
      <div class="col-md-12">
          <p>
            <span class="head1">Can I Withhold Information?</span>
          </p>
          <p>
            You may access Our Site without providing any personal data at all.
          </p>
      </div>
  </div>

  <div class="row section2 ">
      <div class="col-md-12">
          <p>
            <span class="head1">How Can I Access My Personal Data?</span>
          </p>
          <p>
            If you want to know what personal data we have about you, you can either:
          </p>
          <ul>
            <li>Access your information from the secure portal if you have access or</li>	
            <li>Ask us for details. This is known as a &ldquo;subject access request&rdquo;</li>
          </ul>
          <p>
            All subject access requests should be made in writing and sent to the email or postal addresses shown in Part 11.
            To make this as easy as possible for you, a Subject Access Request Form is available for you to use. You do not have to use this form,
            but it is the easiest way to tell us everything we need to know to respond to your request as quickly as possible.
          </p>
          <p>
            There is not normally any charge for a subject access request. If your request is ‘manifestly unfounded or excessive’
            (for example, if you make repetitive requests) a fee may be charged to cover our administrative costs in responding.
          </p>
          <p>
            We will respond to your subject access request within three weeks and, in any case,
            not more than one month of receiving it. Normally, we aim to provide a complete response, including a copy of your personal data within that time.
            In some cases, however, particularly if your request is more complex, more time may be
            required up to a maximum of three months from the date we receive your request. You will be kept fully informed of our progress.
          </p>
      </div>
  </div>

  <div class="row section1 ">
      <div class="col-md-12">
          <p>
            <span class="head1">How Do I Contact You?</span>
          </p>
          <p>
            To contact us about anything to do with your personal data and data protection,
            including to make a subject access request, please use the following details:
          </p>
          <ul>
            <li>For the attention of Mauva Adams</li>	
            <li>Email address: data@ma-leon.co.uk</li>
            <li>Telephone number: 020 3371 1497</li>
            <li>Postal Address: 85 Great Portland Street, London W1W 7LT</li>
          </ul>
      </div>
  </div>

  <div class="row section2 ">
      <div class="col-md-12">
          <p>
            <span class="head1">Changes to this Privacy Notice</span>
          </p>
          <p>
              We may change this Privacy Notice from time to time. This may be necessary, for example,
              if the law changes, or if we change our business in a way that affects personal data protection.
          </p>
          <p>
            Any changes will be made available via email and website.
          </p>
      </div>
  </div>
</div>