  <!-- Contact Section -->
    <div id="contact" #contactD style="clear:both">
    <div class="container">
                        <h2>Contact</h2>

                    <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
                    <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
                    <div class="row">

                  <div class="col-md-8 col-md-offset-2">

                    <div class="alert alert-success" *ngIf="sucess">
                      Thank you, we will respond shortly
                    </div>
                    <form name="sentMessage" id="contactForm" novalidate [formGroup]='contactForm' (ngSubmit)="submitForm()">
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label for="name">Name</label>
                                <input formControlName="name" type="text" class="form-control" placeholder="Name" id="name" [required]="!contactForm.get('name').valid">
                                <div *ngIf="!contactForm.get('name').valid && contactForm.get('name').touched"
                                class="alert alert-danger">Please enter your name</div>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label for="email">Email Address</label>
                                <input formControlName="email" type="email" class="form-control" placeholder="Email Address" id="email">
                                <div *ngIf="!contactForm.get('email').valid && contactForm.get('email').touched"
                                class="alert alert-danger">Please enter your email</div>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label for="phone">Phone Number</label>
                                <input formControlName="phone" type="tel" class="form-control" placeholder="Phone Number" id="phone">
                                <div *ngIf="!contactForm.get('phone').valid && contactForm.get('phone').touched"
                                class="alert alert-danger">Please enter your Phone number</div>
                            </div>
                            </div>

                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label for="message">Message</label>
                                <textarea formControlName="message" rows="5" class="form-control" placeholder="Message" id="message" data-validation-required-message="Please enter a message."></textarea>
                                <div *ngIf="!contactForm.get('message').valid && contactForm.get('message').touched"
                                class="alert alert-danger">Please enter a Message</div>
                            </div>
                        </div>
                        <br>
                        <div id="success"></div>
                        <div class="row">
                            <div class="form-group col-xs-12">
                                <button type="submit" class="btn btn-lg" [disabled]="!contactForm.valid">Send</button>
                            </div>
                        </div>

                            <address>
                              <a href="tel:+4402033711497">&#9743; +44 (0)20 3371 1497</a><br>
                              85 Great Portland Street,<br>London W1W 7LT
                            </address>
                    </form>
                </div>
            </div>
          </div>
      </div>
