<!-- Services section [style.height.px]="winHeight" -->
<div id="services" #services>
<div class="container">
    <div class="row text-center">
        <h2>Services</h2>
            <div class="col-sm-4 col-md-4 col-xs-4  services-item">
                <a [routerLink]="['/taxation']" class="services-link">
                    <img  src="assets/shared/taxBtn.png" class="img-responsive" alt="Taxation">
                    <h3>Taxation</h3>
                </a>
            </div>
            <div class="col-sm-4 col-md-4 col-xs-4 services-item">
                <a [routerLink]="['/accountancy']" class="services-link">
                      <img  src="assets/shared/accBtn.png" class="img-responsive" alt="Accountancy">
                      <h3>Accountancy</h3>
                </a>
            </div>
            <div class="col-sm-4 col-md-4 col-xs-4  services-item">
                <a [routerLink]="['/consultancy']" class="services-link">

                      <img  src="assets/shared/conBtn.png" class="img-responsive" alt="Consultancy">
                    <h3>Consultancy</h3>
                </a>


      </div>


</div>
</div>
</div>
