<!-- Header -->
<div id="top"  [style.height.px]="winHeight" #top>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 top-header-text-container" [style.height.px]="winHeight" >
                <div class="covid-info">
                <p>
                    During these unprecedented times we would like to reassure you that Ma'Leon Accountancy Services Limited are committed to maintaining uninterrupted accountancy and advisory services as best as possible. 
                </p>
                <p>
                    We will also update you accordingly with the government guidelines and how they aim to help you and will continue to closely monitor the situation - below is some information.
                </p>
                <p>
                    Please let us know if you have any questions. 
                </p>
                 <p><em>Stay home, stay safe.</em></p>
                <p>
                Self-employed Support
                <a class="btn btn-lg" href="https://www.gov.uk/guidance/claim-a-grant-through-the-coronavirus-covid-19-self-employment-income-support-scheme" target="_blank">Read more</a>
                </p>
                <p>
                Employer Support
                <a class="btn btn-lg" href="https://www.gov.uk/guidance/claim-for-wage-costs-through-the-coronavirus-job-retention-scheme?fbclid=IwAR2NJu9c6f02dIBg3gL6vUC_o9PLaQVVKQLOxh3FKrGQV_f2BoMo1E8-444"  target="_blank">Read more</a>
                </p>
                <p>
                Employee Support
                <a class="btn btn-lg" href="https://www.gov.uk/government/publications/guidance-to-employers-and-businesses-about-covid-19/covid-19-guidance-for-employees"  target="_blank">Read more</a>
                </p>
                <p>
                Business Support - Business Interuption Loan Scheme
                <a class="btn btn-lg" href="https://www.british-business-bank.co.uk/ourpartners/coronavirus-business-interruption-loan-scheme-cbils-2/" target="_blank">Read more</a>
                </p>
                <p>
                   VAT Support
                <a class="btn btn-lg" href="https://www.gov.uk/guidance/deferral-of-vat-payments-due-to-coronavirus-covid-19" target="_blank">Read more</a>
                </p>
                <p>
                    Other Business Support including self-assessment payments due in July 2020
                    <a class="btn btn-lg" href="https://www.gov.uk/government/collections/financial-support-for-businesses-during-coronavirus-covid-19" target="_blank">Read more</a>
                    </p>
                </div>
              <div class="headerTxt"><img class="img-responsive" src="assets/shared/home-bg-text.svg" alt="Ma’Leon Accountancy Services Limited"></div>
            </div>
        </div>
    </div>
</div>
