<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top" #nav [@NavBgState]="navBgActiveState">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    <a class="navbar-brand" href="#"><img src="assets/shared/logo1.png"  alt="Ma'Leon &amp; Co" class="img-responsive"></a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
    <ul class="nav navbar-nav navbar-right" id='navbar-ul' [@ulState]="defaultNavState">
      <li class="nav-item s-link" >
        <a [attr.data-target]="dataTarget" [attr.data-toggle]="dataToggle" [routerLink]="['/about']" class="nav-link">About</a>
      </li>
      <li class="nav-item page-scroll">
        <a [attr.data-target]="dataTarget" [attr.data-toggle]="dataToggle" pageScroll [pageScrollAdjustHash]='true'  [pageScrollDuration]="700" class="nav-link" [pageScrollOffset]='60'  href="#services">Services</a>
      </li>
      <li class="nav-item page-scroll">
        <a [attr.data-target]="dataTarget" [attr.data-toggle]="dataToggle" class="nav-link" pageScroll [pageScrollAdjustHash]='true' [pageScrollDuration]="700" href="#contact">Contact</a>
      </li>
      <li class="nav-item page-scroll nav-last">
        <a pageScroll [pageScrollAdjustHash]='true' [pageScrollDuration]="700" class="nav-link"  href="#social">Social</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right" id='navbar-ul-services' [@ulState]="servicesNavState">
      <li class="nav-item s-link" >
        <a [attr.data-target]="dataTarget" [attr.data-toggle]="dataToggle" [routerLink]="['']" class="nav-link">Home</a>
      </li>
      <li class="nav-item s-link" >
        <a [attr.data-target]="dataTarget" [attr.data-toggle]="dataToggle" routerLinkActive="is-active" [routerLink]="['/about']" class="nav-link">About</a>
      </li>
      <li class="nav-item">
        <a [attr.data-target]="dataTarget" [attr.data-toggle]="dataToggle" [routerLink]="['/taxation']" routerLinkActive="is-active" class="nav-link">Taxation</a>
      </li>
      <li class="nav-item">
        <a [attr.data-target]="dataTarget" [attr.data-toggle]="dataToggle" [routerLink]="['/accountancy']" class="nav-link" routerLinkActive="is-active">Accountancy</a>
      </li>
      <li class="nav-item nav-last">
        <a [attr.data-target]="dataTarget" [attr.data-toggle]="dataToggle" [routerLink]="['/consultancy']" routerLinkActive="is-active" class="nav-link">Consultancy</a>
      </li>
    </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
