<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header" #nav [@NavBgState]="navBgActiveState">
      <button type="button" class="nav-toggle collapsed" (click)="toggleNav()">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="nav-brand" [routerLink]="['/']"><img src="assets/shared/logo1.svg" alt="Ma'Leon &amp; Co" class="img-responsive"></a>
    </div>

    <div id="navbar" class="" [ngStyle]="{display: showMobileNav}">
      <ul class="nav navbar-right" id='navbar-ul' [@ulState]="defaultNavState">
        <li class="nav-item">
          <p (click)="scrollTo('services')" class="nav-link">Services</p>
        </li>
        <li class="nav-item">
          <p (click)="scrollTo('contact')" class="nav-link">Contact</p>
        </li>
        <li class="nav-item nav-last">
          <p (click)="scrollTo('social')" class="nav-link">Social</p>
        </li>
        <li class="nav-item s-link" data-target="#navbar">
          <p (click)="goToClientArea()" class="nav-link">Client Area</p>
        </li>
        <li class="nav-item s-link" data-target="#navbar">
          <p (click)="toggleNav()" [routerLink]="['/about']" class="nav-link">About</p>
        </li>
      </ul>

      <ul class="nav navbar-right" id='navbar-ul-services' [@ulState]="servicesNavState">
        <li class="nav-item nav-last">
          <p [routerLink]="['/legals']" (click)="toggleNav()" routerLinkActive="is-active" class="nav-link">Ts and Cs</p>
        </li>
        <li class="nav-item nav-last">
          <p [routerLink]="['/consultancy']" (click)="toggleNav()" routerLinkActive="is-active" class="nav-link">Consultancy</p>
        </li>
        <li class="nav-item">
          <p [routerLink]="['/accountancy']" class="nav-link" (click)="toggleNav()" routerLinkActive="is-active">Accountancy</p>
        </li>

        <li class="nav-item">
          <p [routerLink]="['/taxation']" (click)="toggleNav()" routerLinkActive="is-active" class="nav-link">Taxation</p>
        </li>
        <li class="nav-item s-link">
          <p (click)="toggleNav()" routerLinkActive="is-active" [routerLink]="['/about']" class="nav-link">About</p>
        </li>
        <li class="nav-item s-link">
          <!-- <a (click)="toggleNav()" href="http://ma-leon.co.uk/client-area.html" class="nav-link">Client Area</a> -->
          <p (click)="goToClientArea()" routerLinkActive="is-active" class="nav-link">Client Area</p>
        </li>
        <li class="nav-item s-link">
          <p [routerLink]="['']" class="nav-link">Home</p>
        </li>
      </ul>
    </div>
    <!--/.nav-collapse -->
  </div>
</nav>