<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header" #nav [@NavBgState]="navBgActiveState">
      <button type="button" class="nav-toggle collapsed" (click)="toggleNav()">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" [routerLink]="['/']"><img src="assets/shared/logo1.png" alt="Ma'Leon &amp; Co"
          class="img-responsive"></a>
    </div>

    <div id="navbar" class="" [ngStyle]="{display: showMobileNav}">
      <ul class="nav navbar-right" id='navbar-ul' [@ulState]="defaultNavState" [ngStyle]="{display: showMobileNav}">
        <li class="nav-item">
          <p (click)="scrollTo('services', 20)" class="nav-link">Services</p>
        </li>
        <li class="nav-item">
          <p  (click)="scrollTo('contact')" class="nav-link">Contact</p>
        </li>
        <li class="nav-item nav-last">
          <p (click)="scrollTo('social')" class="nav-link">Social</p>
        </li>
        <li class="nav-item s-link" data-toggle="collapse" data-target="#navbar">
          <p [routerLink]="['/about']" class="nav-link">About</p>
        </li>
      </ul>

      <ul class="nav navbar-right" id='navbar-ul-services' [@ulState]="servicesNavState" [ngStyle]="{display: showMobileNav}">
        <li class="nav-item nav-last">
          <p [routerLink]="['/legals']" routerLinkActive="is-active" class="nav-link">Ts and Cs</p>
        </li>
        <li class="nav-item nav-last">
          <p [routerLink]="['/consultancy']" routerLinkActive="is-active" class="nav-link">Consultancy</p>
        </li>
        <li class="nav-item">
          <p [routerLink]="['/accountancy']" class="nav-link" routerLinkActive="is-active">Accountancy</p>
        </li>

        <li class="nav-item">
          <p [routerLink]="['/taxation']" routerLinkActive="is-active" class="nav-link">Taxation</p>
        </li>
        <li class="nav-item s-link">
          <p routerLinkActive="is-active" [routerLink]="['/about']" class="nav-link">About</p>
        </li>

        <li class="nav-item s-link">
          <p [routerLink]="['']" class="nav-link">Home</p>
        </li>
      </ul>
    </div>
    <!--/.nav-collapse -->
  </div>
</nav>