/*-------------------------------------------------- */
 html {
   position: relative;
   min-height: 100%;
  }


 body{
   /* Margin bottom by footer height */
   margin: 0 0 60px 0;
   background-color: transparent;
   font-family: Tahoma;

 }
  body a{
    cursor: pointer;
  }
 .margin20Left{
   margin-left: 20px!important;
 }
/* body > .container {
   padding: 60px 15px 0;
 }*/

 h1, h2, h3, h4, h5, .section1 .head1 {
   font-family: 'Libre Franklin', sans-serif;
 }

/*NAV*/

@media (max-width: 760px){
  #navbar-ul, #navbar-ul-services{
    text-align: right;
    width: 50%;
    background-color: #6CA6C1!important;
    border-radius: 25px;
    border: 1px solid #000;

  }
  #navbar-ul li, #navbar-ul-services li{
    border-bottom: 1px solid #000;
    margin-left: 0;
  }
  #navbar{
    padding-right: 50px
  }
  .nav-last{
    border: none!important;
  }
}
#navbar-ul-services{
    opacity: 0;
  }
#navbar-ul{
  opacity: 1;

  }
  .nav-bar{
    background-color: #6CA6C1!important
  }

  .navbar-default .navbar-nav>li>a, .navbar-default .navbar-nav>li>a:link, .navbar-default .navbar-nav>li>a:visited, .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:active{
      color: #fff;
  }

.is-active{
    color: #ccc!important;
}

.navbar-toggle, .navbar-toggle:link, .navbar-toggle:visited, .navbar-toggle:hover, .navbar-toggle:active{
  /*margin-right: 40px;*/
  border: none;
  background-color: #6CA6C1!important;
}
.navbar-header, .navbar,.navbar-inverse, .navbar-collapse{
  background-color: inherit;
  border: none;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
      border: none!important;
      box-shadow: none;
}
.navbar-header{
  width: 50%;
  height: 75px;
}
.navbar-header img{
  margin-left:20px;

 }
.navbar-brand {
  /*margin:10px 0 0 50px;*/
  height: 55px;
  display: block;
  width: 344px;
  padding: 10px 0 0 10px;
}
.fixed-top {
  position: fixed; /* <-- Look here */
  right: 0;
  left: 0;
  z-index: 1030;
   /*background-color: transparent;      margin-top: 25px;*/
   border: 0;
}
nav ul{list-style: none; float: right!important; margin-right: 30px!important}
nav ul li{ margin-left: 20px}
nav ul li a:link, nav ul li a:hover, nav ul li a:active, .nav-link{text-decoration: none; font-size: 1.5rem}


/* Header/fisrt page */
#top {
  background: url(assets/shared/bgImage.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: transparent;
}
.row{
  margin: 0
}
.headerTxt img{
   width: 90%;
   height: auto;
   margin: 0 auto;
}
.headerTxt{
   position: absolute;
   left: 0;
   bottom: 5%;
}

/*Contact form*/


/*End Contact*/
#services, #social{
  background-color: #fff;
  width:100%;
  padding: 10px 0 80px 0;

}
#services h2, #social h2, #contact h2,  #top h2{
  font-size: 5rem;
  padding-bottom: 20px;
  padding-top: 40px;
  text-align:center;
}

#services h3, #social h3, #contact h3,  #top h3{
  font-size: 3.5rem;
  padding-bottom: 20px;
  text-align:center;

}
.services-item {
    display: block;
}
.services-link img{
  width:75%;
  height: auto;
  margin: 0 auto;
  display: block;
}

#contact {

  background: url(assets/shared/bgContact.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  padding: 25px 0 40px 0;
  color: #fff;
}

#contact address{
  margin-top:30px;
  font-size: 1.8rem
}
#contact address a{
  color: #fff;
  font-size: 2.3rem
}
/*****Social*******************************/
.outer-status{
  margin-bottom: 10px
}
.status .right-content{
  text-align: left;
}
.status .status-image{
  text-align: center;
}
.status{
  background-color: #E7F3F7;
  border: 1px solid #88C3D3;
  margin:  0;
  display: block;
  min-height: 180px;
  padding-top: 10px;
}
.status p{
  margin-bottom: 0px
}
.social-btns {
 margin-top: 50px;
}


.container-fluid{
  padding: 0!important
}
/*Services*************************************/
.services-container{
  margin-top:100px;
  margin-bottom:100px;
}
.page-header{
  margin: 0 0 10px;
  border: none;
}
.header-img img{
  width:60px;
  height: 60px;
  text-align: left;
  float: left;
  margin-top: 6px;
}
.header-img{
  width: 70px;
  height: 70px;
  display: inline;
}
.section1, .section2{
  background: url(assets/shared/bgContact.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  padding: 25px 0 40px 0;
  color: #fdfeff;
  border: 1px solid #6CA6C1;
  text-align: left;
  margin-bottom: 30px;
}
.section2{
  background: url(assets/shared/bgContrast.jpg) no-repeat center center;
  color: #080253;
  border: 1px solid #080253;
}
.section1 .head1, .section2 .head1{
  font-size: 2.5rem;
  color: #6CA6C1;
}
.section2 .head1{
  color: #fdfeff;
}
.section1 em, .section2 em{
  color: #6CA6C1;
  font-style: normal!important
}
.section2 em{
  color: #fdfeff;
}

.section1 p, .section2 p, .section1 .btn, .section2 .btn{
  padding: 2px 30px;
  font-size: 1.5rem;
}
 .section1 ul li, .section2 ul li{
     font-size: 1.5rem;
     padding-bottom: 4px;
 }
 .section1 .btn, .section2 .btn{
   padding:3px;
   color: #080253;
 }
 .section2 .btn{
  background-color: #080253!important;
  color: #fff;
 }
 .section1 a{
   color: #6CA6C1;
 }

 .section2 a{
   color: #fff;
 }
.last-section{
  margin-bottom: 50px
}
 .li-xtra-pad  ul li{
   padding-top: 12px;
   padding-right: 10px;

 }

 .li-xtra-pad  ul li:first-child{
   padding-top: 0;
 }
.ul-header{
  margin-bottom: -5px;
}
.ul-footer{
  margin-top: -10px;
}
.facts-li  ul li{
list-style-type: none;
padding-bottom: 0;
}

 .facts-li  ul li:before {

    content: "";
    border-color: transparent #fff;
    border-style: solid;
    border-width: 0.35em 0 0.35em 0.45em;
    display: block;
    height: 0;
    width: 0;
    left: -1em;
    top: 0.9em;
    position: relative;
}
 /******FOOTER*************************/
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px 0;
  /* Set the fixed height of the footer here */
  height: 100px;
  /*line-height: 80px;  Vertically center the text there */
  background-color: #080253;
  color: #fff;
}
.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
  display: block;
  height: 80px;
}
.footer .att-img {
  float: left;
  height: auto;
}

footer address, .copyright{
  padding-top: 10px;
  text-align: right;
  padding-right: 30px;
  margin-bottom: 0;
  font-size: 1.1rem;
}
.aat{
  width: 232px;
  height: 80px;
  padding-left: 30px
}
.aat img{
  margin: 0 auto;
}
.aat-text{
  padding:0;
  font-size: 1.1rem;
  line-height: 1.5rem;
  margin-left: -10px;
}
footer .noPadding{
  padding: 0!important
}
.quickbooks img{
  padding-left: 20px;
  /* float: right; */
}

.copyright{
  padding-top: 3px;
  height: 20px;
}
/* MEDIA QUERIES */
@media (max-width: 768px){
  #services h3, #social h3, #contact h3,  #top h3{
    font-size: 2rem;
    padding-bottom: 10%;
  }
  .quickbooks {
    margin-top: 20px;
  }

  .footer > .container {
    padding-right: 0;
    padding-left: 0;
    display: block;
    /*height: 80px;*/
  }



  .navbar-header{
  width: 100%;
  }
}
@media (min-width: 992px){
  .col-md-12 {
      width: 100%;
      padding:0!important
  }
  .btn{
    background-color: #6CA6C1!important;
  }

}

@media (max-width: 992px){
  .aat{
    height: 100px;
    padding-right: 30px;

  }
  .last-section{
    margin-bottom: 200px
  }
  /* .aat-text{
   margin-left: -10px;
  } */
  .quickbooks p{
    display: inline-block!important;
  }

  footer{
    height: 250px
  }
  footer address, .copyright{
    text-align: center;
    padding-right: 0;
  }
  footer address{
    padding-top: 10px;
  }
}

@media (max-width: 1187px){
  .quickbooks{
    padding-left: 30px;
  }
}

@media (max-width: 1160px){
  .quickbooks{
    padding-left: 60px;
  }
}
@media (max-width: 768px){
  .quickbooks{
    padding-left: 20px;
  }
  .aat{
    padding:14px 0 0 0;
  }
  #social{
    padding-bottom:240px;
  }
  #services h3, #social h3, #contact h3, #top h3 {
    font-size: 1.4rem
  }
}
@media (min-width: 768px){
  .navbar-nav {
      margin-top: 25px;
  }

}
@media (max-width: 550px){
  .navbar-header a{
    width:70%
  }
}
