
@import 'styles/utils/media-queries.scss';

@import 'styles/components/header-nav.scss';
@import 'styles/components/footer.scss';
@import 'styles/components/sections.scss';
@import 'styles/components/media-queries.scss';
@import 'styles/components/scrollto-top.scss';


 html {
   position: relative;
   min-height: 100%;
    scroll-behavior: smooth;
  }


 body{
   /* Margin bottom by footer height */
   margin: 0 0 60px 0;
   background-color: transparent;
   font-family: Tahoma;

 }
  body a{
    cursor: pointer;
  }
 .margin20Left{
   margin-left: 20px!important;
 }


 h1, h2, h3, h4, h5, .section1 .head1 {
   font-family: 'Libre Franklin', sans-serif;
 }

/*End Contact*/
#services, #social{
  background-color: #fff;
  width:100%;
  padding: 10px 0 80px 0;

}
#social{
  padding-bottom: 150px
}
#services h2, #social h2, #contact h2,  #top h2{
  font-size: 5rem;
  padding-bottom: 20px;
  padding-top: 40px;
  text-align:center;
}

#services h3, #social h3, #contact h3,  #top h3{
  font-size: 3.5rem;
  padding-bottom: 20px;
  text-align:center;

}
.services-item {
    display: block;
}
.services-link img{
  width:75%;
  height: auto;
  margin: 0 auto;
  display: block;
}

#contact {

  background: url(assets/shared/bgContact.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  padding: 25px 0 40px 0;
  color: #fff;
}

#contact address{
  margin-top:30px;
  font-size: 1.8rem
}
#contact address a{
  color: #fff;
  font-size: 2.3rem
}
/*****Social*******************************/
.outer-status{
  margin-bottom: 10px
}
.status .right-content{
  text-align: left;
}
.status .status-image{
  text-align: center;
}
.status{
  background-color: #E7F3F7;
  border: 1px solid #88C3D3;
  margin:  0;
  display: block;
  min-height: 180px;
  padding-top: 10px;
}
.status p{
  margin-bottom: 0px
}
.social-btns {
 margin-top: 50px;
}


.container-fluid{
  padding: 0!important
}
/*Services*************************************/
.services-container{
  margin-top:100px;
  margin-bottom:100px;
}
.page-header{
  margin: 0 0 10px;
  border: none;
}
.header-img img{
  width:60px;
  height: 60px;
  text-align: left;
  float: left;
  margin-top: 6px;
}
.header-img{
  /* width: 70px;
  height: 70px; */
  display: inline;
}

 
